.boletines-anteriores {
	@media screen and (min-width: $screen-md) {
		margin-top: 148px;
		margin-bottom: 48px;
	}
}

.single-boletin div#mc_embed_signup {
	@media screen and (min-width: $screen-md) {
		padding-top: 12px;
	}
}

.boletin-bigimg {
	img {
		max-width: 100%;
		height: auto;
	}
}

.germina-mailchimp-subscribe {
	background-color: white;
	padding: 24px;
	margin-top: 12px;
	margin-bottom: 12px;
	h2 {
		color: $newsandia;
		font-size: 22px;
		margin-top: 0;
	}

	p {
		color: $newsandia;
	}

	.btn-subscribe {
		background-color: white;
		border-color: $newsandia;
		margin-top: 12px;
		color: $newsandia;
	}
}
