//Equipo

.page-template-equipo h1.post-title {
	text-align: center;
}

.page-template-equipo .post-content h4 {
	text-align: center;
	color: $pelorous;
}

.integrante {
	text-align: center;
}

.sub-content-equipo {
	margin-top: 24px;
	h2 {
		text-align: center;
	}
}

.sub-content h3 {
	color: $gris;
	margin-bottom: 24px;
	text-align: center;
}

.sub-content-equipo .flex-container,
.sub-content.colaboran .flex-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	justify-content: center;
	clear: both;
}

.equipo-item-column {
	margin-bottom: 24px;
}

.integrante .imgwrap {
	border-radius: 50%;
	overflow: hidden;
	width: 150px;
	height: 150px;
	//border:1px solid $sandia;
	margin: 0 auto;
	transition: color 0.7s linear;
	@media screen and (max-width: $screen-sm) {
		width: 120px;
		height: 120px;
	}
}

.integrante .imgwrap img {
	width: 150px;
	height: 150px;
	@media screen and (max-width: $screen-sm) {
		width: 120px;
		height: 120px;
	}
}

.integrante h4 {
	font-size: 14px;
	color: $gris;
	transition: color 0.4s linear;
}

.integrante:hover {
	text-decoration: none;
}

.integrante:hover .imgwrap {
	//border-color:$pelorous;
}

.integrante:hover h4 {
	color: $pelorous;
}

.integrante:hover .imgwrap,
.integrante:hover h4 {
	animation: pulse 0.7s;
}

.sub-content.colaboran {
	border-top: 1px dotted $gris;
	margin-top: 24px;
}

.sub-content h3 {
	margin-top: 12px;
}

//Single equipo

article.integrante-equipo header.header-equipo {
	margin-bottom: 0;
}

.ficha-equipo {
	width: 176px;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

.ficha-equipo img {
	margin-bottom: 6px;
	border-radius: 50%;
	width: 176px;
	height: 176px;
	margin: 24px auto;
}

.equipo-datos {
	font-size: 14px;
	text-align: left;
}

.equipo-datos p {
	a {
		display: inline-block;
		color: $newsandia;
		padding: 12px;
		border: 1px solid $newsandia;
		border-radius: 10px;
		margin: 12px 12px 12px 0;
		color: $newsandia;
		font-size: 16px;
	}
}

.equipo-datos p:last-child {
	border-bottom: 0;
}

@media screen and (min-width: $screen-lg) {
	.integrante-equipo .post-content {
		// margin-left: 210px;
		// margin-right: 24px;
	}
}

@media screen and (max-width: $screen-sm) {
	.integrante-equipo h1.post-title {
		font-size: 24px;
	}

	.team-nav > h3 {
		margin-top: 0;
	}
}

//Navegador equipo

.team-nav {
	padding: 6px;
}

.team-nav > h3 {
	color: $gris;
	font-size: 16px;
}

.team-column-mini {
	width: 160px;
	height: 80px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
	margin-bottom: 12px;
}

.team-column-mini .integrante {
	text-align: left;
}

.team-column-mini .integrante .imgwrap {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 12px;
}

.team-column-mini .integrante .imgwrap img {
	max-width: 100%;
	height: auto;
}

p.label-button-equipo {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0;
}
