footer.germina-footer {
	background-color: $sandia;
	color: white;
	text-align: right;
	address {
		color: white;
	}
	a {
		color: white;
	}
	.licencia {
		float: left;
		text-align: left;
		@media screen and (max-width: $screen-sm) {
			float: none;
			text-align: right;
			margin-bottom: 6px;
		}
	}
}
