footer.germina-footer {
	background-color: $newsandia;
	color: white;
	text-align: right;
	h4 {
		margin-top: 24px;
	}

	address {
		color: white;
	}
	a {
		color: white;
	}
	.licencia {
	}

	.address-button {
		display: inline-block;
	}

	.address-button a {
		color: $newsandia;
		display: inline-block;
		background-color: white;
		border-radius: 4px;
		box-shadow: 0 0 6px $darksandia;
		margin: 12px 4px;
		padding: 12px;
		font-size: 18px;
		border: 1px solid $newsandia;
		i {
			font-size: 24px;
		}
		&:hover {
			text-decoration: none;
			color: white;
			border: 1px solid white;
			background-color: $newsandia;
		}
	}

	img {
		margin-top: 4px;
	}
}
