footer.germina-footer,
.redes-menu {
	background-color: $newsandia;
	color: white;
	text-align: left;
	h4 {
		margin-top: 24px;
	}

	address {
		color: white;
	}
	a {
		color: white;
	}
	.licencia {
	}

	.address-button {
		display: inline-block;
	}

	.address-button a {
		color: $newsandia;
		display: inline-block;
		background-color: white;
		border-radius: 4px;
		box-shadow: 0 0 6px $darksandia;
		margin: 12px 4px;
		padding: 12px;
		font-size: 18px;
		border: 1px solid $newsandia;
		i {
			font-size: 24px;
		}
		&:hover {
			text-decoration: none;
			color: white;
			border: 1px solid white;
			background-color: $newsandia;
		}
	}

	img {
		margin-top: 4px;
	}
}

footer.germina-footer {
	margin-top: 48px;

	.logofooter {
		margin-top: 24px;
		padding: 12px;
		background-color: white;
		max-width: 240px;
		border-radius: 4px;
	}
}

a.goback {
	position: fixed;
	bottom: 20px;
	right: 20px;
	color: #000;
	border: 2px solid #333;
	border-radius: 4px;
	background-color: rgba(88, 88, 87, 0.6);
	padding: 12px 24px;
	font-size: 24px;
}
