a.block-item-link {
	display: block;
}

a.block-item-link:hover {
	text-decoration: none;
}

.item-meta-top {
	font-size: 13px;
	color: $pelorous;
}

.item-small {
	padding: 12px;
	background-color: white;
	outline: 1px solid #ccc;
	transition: all ease-in 0.4s;
	margin-bottom: 12px;
	h4 {
		font-size: 16px;
		color: $sandia;
		margin-top: 0;
	}

	&:hover {
		outline: 1px solid desaturate($sandia, 10%);
	}
}

//Item medium

.item-medium {
	margin-bottom: 24px;
	outline: 1px solid #ccc;
	background-color: white;
	padding: 12px;
	transition: all linear 0.4s;
	position: relative;

	.proyect-item-label {
		background-color: $grisfondo;
		color: #333;
	}

	&:hover {
		outline: 1px solid desaturate($sandia, 10%);
	}

	h2 {
		margin: 24px 0 24px 0;
		font-size: 24px;
		color: $sandia;
		line-height: 1.5em;
		@media screen and (max-width: $screen-sm) {
			font-size: 18px;
		}
	}

	.item-meta-bottom {
		color: #333;
		font-size: 14px;
		span {
			display: block;
		}
	}

	.item-meta-bottom,
	.proyect-item-meta-bottom {
		i {
			font-style: normal;
			text-decoration: underline;
		}
	}

	&.with-image a {
		min-height: 176px;
		h2 {
			padding-right: 224px;
		}

		img {
			@media screen and (max-width: $screen-sm) {
				max-width: 120px;
			}
			height: auto;
		}
		@media screen and (max-width: $screen-sm) {
			h2 {
				padding-right: 120px;
			}
		}
	}
}

//Item large (en portada)

.item-large {
	margin-bottom: 24px;
	outline: 1px solid #ccc;
	background-color: white;
	padding: 12px;
	transition: all linear 0.4s;
	position: relative;
}

.item-large.with-image {
	min-height: 200px;
}

.item-large img {
	width: auto;
	max-width: 200px;
	height: 200px;
}

.item-large .excerpt {
	color: #575756;
	margin-bottom: 12px;
	font-size: 14px;
}

.item-large.with-image .item-content-wrapper {
	margin-right: 220px;
}

.item-large:hover {
	outline: 1px solid desaturate($sandia, 10%);
}

.item-large a h2 {
	color: $grisoscuro;
}

.item-large h2 {
	margin: 12px 0;
	font-size: 22px;
}

.item-large .item-meta-top {
	color: $celeste;
	font-size: 12px;
	text-transform: uppercase;
}

.item-large .item-meta-top span.date {
	text-transform: lowercase;
}

.item-large .item-meta-bottom {
	color: #d93f44;
	font-size: 12px;
	text-transform: uppercase;
}

.item-large img,
.item-medium img {
	position: absolute;
	right: 0;
	top: 0;
}

@media screen and (max-width: $screen-sm) {
	.item-large.with-image .item-content-wrapper {
		margin-right: 0;
	}

	.item-large img {
		display: none;
	}
}

.item-type {
	background-color: $grisfondo;
	color: #333;
	text-transform: uppercase;
	display: inline-block;
	padding: 3px;
}

// .item-medium.item-medium-proyecto {
// 	background-color: $newsandia;
// 	h2 {
// 		color: white;
// 	}
// 	.proyect-item-meta-bottom {
// 		div {
// 			margin-bottom: 6px;
// 			color: white;
// 		}
// 		span {
// 			color: #000;
// 		}
// 		i {
// 			color: white;
// 		}
// 	}

// 	.item-meta-top {
// 		.item-type {
// 			i {
// 				font-style: normal;
// 			}
// 		}
// 	}
// }
