//Main sass file

//Variables

//Colores del logo

$cafe: #aea39a;
$sandia: #ec5a5e;
$newsandia: #cb3c43;
$darksandia: #a23036;
$pelorous: desaturate(#41adc4, 10%);
$tanhide: #fc9554;
$sunset: #c54f4f;
$olivine: #99bb67;
$crayonpurple: #83659f;
$alabaster: #fbfbfb;
$gris: #575756;
$grismedio: #585857;
$grisfondo: #d9d9d9;
$grisoscuro: darken($gris, 15%);
$celeste: #008aa7;
$gris10: #dededd;
$bodyblack: #121211;

$navbar-border-color: transparentize($gris, 0.2);

@import "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@700&display=swap";

$headingsfont: "Montserrat", sans-serif;
$headingsfontweight: 700;
$defaultfont: "Lato", sans-serif;
$defaultfontweight: 400;

@import "bootstrap-custom";

body {
	background: #f7f7f7;
	padding-top: $navbar-height + 20px;
}

body.post-type-archive-resumen-proyecto {
	display: flex;
	flex-direction: column;
}

footer {
	margin-top: auto;
}

//@import "//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css";
@import "//cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css";
@import "//vjs.zencdn.net/5.8.8/video-js.css";
@import "wpcore";
@import "home";
@import "portafolio";
@import "page-portafolio";
@import "item";
@import "headings";
@import "proyects";
@import "proyect-item";
@import "proyect-nav";
@import "single-proyect";
@import "single";
@import "share";
@import "article-item";
@import "publicaciones";
@import "publicaciones-item";
@import "tax-item";
@import "page";
@import "navbar";
@import "areas";
@import "equipo";
@import "footer";
@import "search";
@import "taxonomy";
@import "taxonomy-nav";
@import "archive";
@import "comments";
@import "boletines";

//Tipografías
