body.page article.type-page {
	margin: 24px 0;
	padding: 0;
	.post-content {
		//border-top: 24px solid $grisfondoclaro;
		padding: 24px;
	}
}

header.section-header {
	text-align: center;
	background-color: $grisfondoclaro;
	padding: 12px 0;
	border-top: 6px solid $crayonpurple;
	margin-bottom: 24px;
	margin-top: -19px;
	//margin-left: -20px;
	//margin-right: -20px;

	h1,
	h2 {
		margin: 24px 0 0 0;
		color: #333;
		@media screen and (max-width: $screen-sm) {
			font-size: 27px;
		}
	}
}

.home .section-header {
	background-color: transparent;
	margin-top: -24px;
	h3 {
		//margin-top: 0;
	}
}

header.header-equipo {
	text-align: center;
	h1 {
		color: #333;
	}
}

.page-template-somos {
	.equipo-intro {
		padding: 12px;
	}
	.sub-content-equipo {
		@media screen and (min-width: $screen-md) {
			border-top: 24px solid $grisfondoclaro;
		}
	}
	.sub-content.colaboran {
		padding: 0 24px;
		border-top: 0;
		margin-top: 0;
		h3 {
			font-size: 22px;
		}
	}
}

@media screen and (max-width: $screen-sm) {
	article.type-page {
		margin: 0;
	}
}

.mailchimp-box {
}

.mailchimp-box h3 {
	margin-top: 6px;
	font-size: 16px;
}

.page-template-contacto article.type-page {
	padding-top: 24px;
	border: 1px solid #ccc;
	margin: 48px 0 72px 0;
}

.page-template-contacto {
	.content .post-content {
		address {
			p {
				margin-bottom: 24px;
			}
			i {
				color: $newsandia;
			}
		}
	}

	.germina-mailchimp-subscribe {
		padding: 0;
	}
}

@media screen and (max-width: $screen-sm) {
	.page-template-contacto article.type-page {
		margin: 0;
		border: 0;
	}
}

.page-template-contacto #mc_embed_signup form {
	padding: 16px 0 0 0;
}

.page-template-contacto h1.post-title {
	margin-top: 0;
}

.page-template-contacto .post-content address {
	font-size: 18px;
}

.page-template-contacto .post-content address p {
	margin-bottom: 6px;
}

//Sección lo que hacemos
body.page article.type-page .post-content.main {
	padding: 0;
}

body.page .subcontent {
	//border-bottom: 1px solid #000;
	> header.subheader {
		background-color: white;
		margin: 48px 0 24px 0;
		h2 {
			font-size: 28px;
			text-align: center;
			border-top: 6px solid $crayonpurple;
			padding: 12px 0 0 0;
		}
	}
}

body.page .subcontent.first header.subheader {
	margin-top: 0;
}

.panel.panel-default.panel-taxonomy-shortcode {
	transition: all ease-in 0.5s;
	box-shadow: 0 0 4px #333;
	border-color: #b9b9b9;
	border-radius: 0;
	.panel-heading {
		background-color: #b9b9b9;
		border-bottom: 1px solid #b9b9b9;
		border-radius: 0;
		h4 {
			font-size: 18px;
		}
		a {
			color: #333;
		}
	}
	&.active {
		border-color: $newsandia;
		box-shadow: none;
		.panel-heading {
			border-bottom-color: $newsandia;
			background-color: $grisfondo;
			h4 {
				a {
					color: $newsandia;
				}
			}
		}
		.panel-title {
			color: $newsandia;
		}
	}

	a.btn-parent-term {
		i {
			transition: all ease-in 0.3s;
			transform: rotate(0);
		}
		&.expanded {
			i {
				transform: rotate(180deg) !important;
			}
		}
	}

	.subterms {
		visibility: hidden;
		display: flex;
		opacity: 0;
		max-height: 0;
		width: 100%;
		padding: 0;
		margin: 0;
		background-color: $grisfondoclaro;
		align-items: center;
		justify-content: center;
		transition: all ease-in 0.3s;

		&.active {
			visibility: visible;
			opacity: 1;
			display: flex;
			height: auto;
			max-height: 100%;
			padding: 12px 0;
			margin: 6px 0 20px 0;
		}
	}
}

body.page-template-lo-que-hacemos {
	article.type-page {
		margin: 0;
		.subcontent.first header.subheader {
			//margin-top: -24px;
			h2 {
				margin-top: 0;
			}
		}
	}
}

.sub-content-alianzas {
	@media screen and (min-width: $screen-sm) {
		border-top: 24px solid $grisfondoclaro;
	}

	h2 {
		text-align: center;
	}

	.wp-block-gallery.has-nested-images {
		flex-grow: 0;
		padding: 36px 0;
		figure.wp-block-image {
			padding: 12px 24px 64px 24px;
			img {
				width: 130px !important;
				@media screen and (max-width: $screen-sm) {
					width: 120px !important;
				}
			}

			figcaption {
				background: transparent;
				color: #333;
				font-size: 16px;
			}
		}
	}
}
