//Proyect Item

.proyect-item-medium,
.tax-item-medium {
	padding: 12px;
	outline: 1px solid #ccc;
	margin: 12px 16px;
	transition: all linear 0.4s;
	background-repeat: no-repeat;
	background-position: left;
	background-color: white;
	background-size: contain;
	position: relative;

	.temas {
		span {
			display: block;
		}
	}
}

.tax-item-medium {
	margin: 12px 0;
}

.tax-item-medium.with-image,
.proyect-item-medium.with-image {
	padding-right: 130px;
	min-height: 120px;
}

.tax-item-medium img,
.proyect-item-medium img {
	position: absolute;
	top: 0;
	right: 0;
	width: 120px;
	height: 120px;
}

.tax-item-medium.with-image .tax-item-meta-top,
.proyect-item-medium.with-image .proyect-item-meta-top {
	background-color: white;
	display: inline-block;
	padding: 1px 3px;
}

.tax-item-medium:hover,
.proyect-item-medium:hover {
	outline: 1px solid desaturate($sandia, 10%);
	box-shadow: 0 0 10px #555;
	.proyect-item-meta-bottom {
	}
}

.tax-item-medium h4,
.proyect-item-medium h4 {
	color: $sandia;
	margin-top: 0;
	margin-bottom: 6px;
	line-height: 1.5em;
}

.tax-item-meta-top,
.proyect-item-meta-top {
	font-size: 12px;
	color: $celeste;
	text-transform: uppercase;
}

.tax-item-meta-bottom,
.proyect-item-meta-bottom {
	font-size: 14px;

	.temas {
		i {
			text-decoration: underline;
			font-style: normal;
			color: $pelorous;
		}
		span {
			color: #333;
			text-decoration: none;
		}
	}
}

.filter-column {
	@media screen and (max-width: $screen-sm) {
		padding: 0;
	}
}

.filter-heading-toggle {
	padding: 16px;
	background-color: white;
	font-weight: 300;
	font-family: $defaultfont;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	background-color: $gris10;
	border: 1px solid $bodyblack;
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 0;
	@media screen and (max-width: $screen-sm) {
		margin-left: 16px;
		margin-right: 16px;
	}
	transition: all ease-in 0.3s;

	i {
		font-size: 18px;
	}

	@media screen and (max-width: $screen-sm) {
		cursor: pointer;
	}

	&.active {
		border-color: $gris10;
		background-color: white;
		color: $sandia;
		margin: 0;
	}

	@media screen and (min-width: $screen-md) {
		background-color: white;
		border: 1px solid $gris10;
		color: $sandia;
	}
}

#taxonomy-accordion {
	@media screen and (max-width: $screen-sm) {
		max-height: 0;
		padding: 0;
		overflow: hidden;
		transition: max-height 1s linear;

		&.active {
			max-height: 1000px;
			height: auto;
		}
	}
}

.tax-filter.panel-group {
	.panel {
		border-top: 0;
	}
	.panel + .panel {
		margin-top: 0;
	}
}

//Small

.tax-item-small,
.proyect-item-small {
	padding: 12px;
	color: $sandia;
	margin-bottom: 12px;
	outline: 1px solid #ccc;
	background-color: white;
	transition: all ease-in 0.4s;
}

.proyect-item-small:hover {
	outline: 1px solid desaturate($sandia, 10%);
}

.proyect-item-small h4 {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 12px;
	color: $sandia;
}

.not-found-message {
	border: 1px solid #ccc;
	margin: 16px 0;
	padding: 24px;
	background-color: white;
	font-size: 24px;
}
