<div class="portafolio-item-extra-metadata">
	{{#post_area}}
		<span class="term area">{{post_area}}</span>
	{{/post_area}}

	{{#post_temas}}
		<span class="term temas">{{post_temas}}</span>
	{{/post_temas}}

	{{#post_year}}
		<span class="term year">{{post_year}}</span>
	{{/post_year}}
</div>