<div class="lcl">
	
	{{#post_client_logo}}
	<img class="client-logo" src="{{ post_client_logo }}" alt="{{ post_clientes }}">	
	{{/post_client_logo}}

	<div class="info-cliente">
		<span class="toc">para <i class="fa fa-caret-down"></i> </span>
		<span class="cliente">{{ post_clientes }}
		</div>

	</span>

</div>