<div class="item-{{type}} item-large animated zoomIn {{#post_thumbnail}} with-image {{/post_thumbnail}}" data-type="{{type}}">

		<a class="block-item-link" href="{{ post_link }}" title="{{ post_title }}">

			<div class="item-content-wrapper">

				<h2>{{{post_title}}}</h2>

				<div class="excerpt">
						{{{post_excerpt}}}
				</div>

				<div class="item-meta-bottom">

					<span class="temas">
						{{ post_temas }}
					</span>
				</div>
			</div>

			{{#post_thumbnail}}
			<img src="{{ post_thumbnail }}" alt="{{ post_title }}">
			{{/post_thumbnail}}
		</a>

</div>
